{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="articles">

{% for article in articles %}
    <article>
        <h2>{{ article.title }}</h2>
            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} 
            à {{ article.createdAt | date ('H:I') }} dans la catégorie Politique</div>
                <div class="content">
                    <img src="{{ article.image }}" alt="">
                    {{ article.content | raw }}
                    
                    <a href="" class="btn btn-primary">Lire la suite</a>
                </div>
    </article>

</section>
{% endfor %}
{% endblock %}
